/* Google Extension Format --------------------------------------------------*/
html {
    width: 600px;
    height: 300px;
}

/* Background and Body -----------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: rgb(204, 81, 81);
    display: grid;
    grid-template-columns: 29% 40% 29%;
    grid-template-rows: 30% 70%;
    padding: 5px;
    gap: 5px;
    justify-content: center;
}

div {
    background-color: #ffffff;
}

.label {
    margin: 0.5% auto 0.5%;
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
}