/* Google Extension Format --------------------------------------------------*/
html {
    width: 600px;
    height: 300px;
}

/* Background and Body -----------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    background-color: #ffe6e6;
    padding: 10px;
}
.container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 175px auto 175px;
    gap: 5px;
    background-color: rgb(227, 109, 109);
    padding: 5px;
}
.container div {
    background-color: #f1f1f1;
    text-align: center;
    align-items: center;
}

/* Headings, Labels, and other text formatting -------------------------------- */
h1 {
    text-align: center;
    margin: 5px auto 10px;
    font-size: 1.4rem;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.label {
    margin: 5px auto 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.ev_label {
    font-size: 0.8rem;
    font-weight: bold;
}

.damage-calculator {
    margin: 10px auto 5px;
    font-weight: bold;
}

.compute-damage {
    margin: 0 auto;
    width: 100px;
    height: 30px;
    background-color: #d73636;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.compute-damage:hover {
    background-color: #ca2424;
}

.compute-damage:active {
    background-color: #b32020;
}

/* Attacker and Defender ---------------------------------------------------------------- */
.attacker, .defender {
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 7px;
    padding-top: 10px;
}

/* Search Bar ---------------------------------------------------------------- */
.search-bar-attack, .search-bar-defend {
    font-size: 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-bar-attack input, .search-bar-defend input {
    flex: 1;
    background-color: white;
    border: 0;
    outline: 0;
    color: rgb(0, 0, 0);
    width: 90px;
}

.search-button {
    outline: 0px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 100px;
    overflow-y: auto;
    background-color: white;
    z-index: 2;
}

.results ul {
    margin: 0;
}

.results ul li {
    list-style: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

/* Pokemon Sprites ---------------------------------------------------------- */
.pokemon-sprites {
    height: 160px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

/* EV Inputs ---------------------------------------------------------------- */
.ev {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    gap: 10px;
    margin: 0 auto;
}

.ev_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.ev_input input {
    width: 45px;
    text-align: center;
}

.ev_label {
    font-size: 0.8rem;
    font-weight: bold;
}

/* Output Section ---------------------------------------------------------- */
.output {
    height: 100px;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}

.output-text {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

/* Field Conditions ---------------------------------------------------------- */
.field-conditions {
    height: 250px;
    grid-row-start: 2;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.field-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 10px;
}

.field-grid weather, .field-grid terrain {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.weather-select, .terrain-select {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 5px auto;
    font-size: 0.7rem;
}

.weather-select:focus {
    outline: none;
    border-color: #d73636;
}

.weather-select option {
    padding: 5px;
}

.terrain-select:focus {
    outline: none;
    border-color: #d73636;
}

.terrain-select option {
    padding: 5px;
}
